<html>
<head>
    <title>Map Project</title>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.css' rel='stylesheet'/>
</head>
<body>
<h1>Map of {{ place }}</h1>

<div id="map" style="width: 900px; height: 600px;"></div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.2/mapbox-gl.js'></script>
<script type="text/javascript">

    mapboxgl.accessToken = 'pk.eyJ1IjoiZ2VtaW5pY2EiLCJhIjoiNjM5ZjdkNDI0OWZkNGVmMzJlZGUwZjFlYTNkZjU4NGYifQ.BMp74b7SVszf66pxAP_tSg';
    var map = new mapboxgl.Map({
        container: 'map',
        center: [-122.67, 45.52],
        zoom: 10,
        style: 'mapbox://styles/mapbox/streets-v9'
    });

    map.on("load", function () {
        {% for ai_name, coords in points.items() %}
        map.addLayer({
            id: '{{ ai_name }}',
            type: "line",
            paint: {
                "line-color": "#cc3333",
                "line-width": 5
            },
            source: {
                'type': 'geojson',
                data: {
                    type: 'Feature',
                    properties: {},
                    geometry: {
                        type: 'LineString',
                        coordinates: [
                            {% for pt in coords %}
                                [{{ pt['geo'].longitude}}, {{ pt['geo'].latitude}}],
                            {% endfor %}
                        ]
                    }
                }
            }
        });
        {% endfor %}
    });

</script>
</body>
</html>
